
.home-background{
  background-image: url(imgs/old1.jpg);
	animation: background 30s ease-in-out infinite;
  height: 680px;
}

@keyframes background { 
	  0% { background-image: url(imgs/old1.jpg);}
    25% { background-image: url(imgs/old2.jpg);}
    50% { background-image: url(imgs/old3.jpg);}
    75% { background-image: url(imgs/old4.jpg);}
}

.contact-background-img {
  background-image: url(imgs/bkg66.jpg);
  height: 600px;
}

.about-background-img {
  background-image: url(imgs/bkg66.jpg);
  height: 600px;
  padding: 100px;
}